#app {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
  scrollbar-width: none !important;
}

@media (width < 1021px) {
  #app {
    padding-top: 108px !important;
  }
}