  .hide-scrollbar {
      scrollbar-width: none;
      -ms-overflow-style: none
  }

  .reveal {
      opacity: 0;
      transform: translateY(35px);
      transition: all .8s ease
  }

  .reveal.show {
      opacity: 1;
      transform: none
  }